#contenedor{

    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
}

#contenedor *{

    padding-right: 30px;
    align-items: center;
   
    
}
.contenedortodos {
 
    background-color:lightgray;
    margin: 10px;
    padding: 20px;
   

}
#todo{

    
}
h1{

    background-color: dodgerblue;
    margin: 20px;
    width: 80%;
}